.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  position: relative; /* Ensure the header is positioned relatively */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff00;
}

.header .logo {
  font-weight: bold;
}

.header{
  font-size: 24px;
}

.logo{
  font-size: 36px;
}

.header nav {
  position: absolute; /* Absolute positioning */
  left: 50%;
  transform: translateX(-50%); /* Center the nav */
  display: flex;
  justify-content: center;
  padding: 0px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header .login-button {
  position: absolute; /* Position the button absolutely */
  right: 20px; /* Adjust as needed */
}

.login-button {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #00234d;
  color: white;
}

.main-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #8a33fd;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.teacher-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.teacher-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.teacher-card img {
  width: 100%;
  border-radius: 5px;
}

.teacher-card h3 {
  margin: 10px 0;
}

.teacher-card .rating {
  font-size: 14px;
  color: #888;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 220px 20px;
  background: url('../public/imgs/background_main.png') no-repeat center bottom/cover;
}

.hero .img-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* Ensure the image is behind the text */
}
.hero h1{
  font-size: 44px;
}
.hero p{
  font-size: 25px;
  color: #a8a8a8;
}